{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Has recibido este correo porque solicitaste restablecer la contraseña de tu cuenta.{% endblocktranslate %}

{% translate "Por favor, ve a la siguiente página y elige una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'login:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Tu nombre de usuario es:" %} {{ user.get_username }}

{% translate "¡Gracias por usar nuestro sitio!" %}

{% blocktranslate %}El equipo de Gimnasio Nazareth{% endblocktranslate %}
{% endautoescape %}